/* ページ全体 */

body {
  background-color: black;
}
.about__title {
  color: lightseagreen;
}

h2 {
  margin: 0;
}
/** ヘッダー */

.header__container {
  background-color: #030303;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 300px;
}

.nav-item a {
  color: darkgreen;
  text-decoration: none;
}

.section-title {
  background-color: aliceblue;
  color: chartreuse;
  margin-left: 1.5%;
}
.about__description {
  color: aliceblue;
  width: 50%;
}

/* メンバー */
.member-section {
  background-color: white;
}

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}

.member__image {
}

.member__image img {
  width: 125px;
}

.member__name {
  background-color: black;
  color: white;
}
.members {
  display: flex;
  flex-wrap: wrap;
}

/* ゲーム */

.section-title2 {
  background-color: darkslategray;
  color: aqua;
  margin-left: 1.5%;
}

.game-section {
  background-color: darkslategray;
}
.game__name {
}

.game__image img {
  width: 140px;
}

.games {
  display: flex;
  justify-content: space-around;
}
.game {
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
  margin-bottom: 50px;
  padding-top: 15px;
}
/* お問い合わせ */
h2 {
  margin: 0;
}
.section-title3 {
  color: aquamarine;
  background-color: pink;
}
.contact-section {
  background-color: pink;
}

.contact {
  background-color: pink;
}
